<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>NexTry</title>
        <link rel="icon" type="image/x-icon" href="/static/images/icon.png">

        <!--CSS LIBRARY-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

        <script type="text/javascript">
            //user interaction
            var user = '{{ request.user }}'
            //creating csrf token with js as in django documentation, with changed name
            function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getToken('csrftoken');
        </script>

    </head>
    <body>
     <!--NAVBAR-->

         <nav class="navbar navbar-expand-lg navbar-dark bg-black">
         <a class="navbar-brand" href="http://127.0.0.1:8000/">
             <img id="logo" src="{% static 'images/logo.png' %}" alt="NextTry">
         </a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
         </button>

         <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav ml-auto">
                 <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="http://127.0.0.1:8000/store" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         <img class="navbar-icon" src="{% static 'images/clothes.png' %}" alt="Clothes">
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                         <a class="dropdown-item" href="/category/Sweatshirt">Sweatshirt</a>
                         <a class="dropdown-item" href="/category/T-shirt">T-shirt</a>
                         <a class="dropdown-item" href="/category/Jacket">Jacket</a>
                         <a class="dropdown-item" href="/category/Sweater">Sweater</a>
                         <a class="dropdown-item" href="/category/Pants">Pants</a>
                         <a class="dropdown-item" href="/category/Shirt">Shirt</a>
                         <a class="dropdown-item" href="/category/Shoes">Shoes</a>
                         <a class="dropdown-item" href="/category/Others">Others</a>
                     </div>
                 </li>
                 <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="/checkout" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         <img class="navbar-icon" src="{% static 'images/account.png' %}" alt="Account">
                     </a>
                     {% if not request.user.is_authenticated %}
                     <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                         <a class="dropdown-item" href="/login">Login</a>
                     </div>
                     {% else %}
                     <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                         <a class="dropdown-item" href="/favorites">Favorites</a>
                         <a class="dropdown-item" href="/logout">Logout</a>
                     </div>
                     {% endif %}
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="http://127.0.0.1:8000/cart">
                         <img class="navbar-icon" src="{% static 'images/cart.png' %}" alt="Cart">
                     </a>
                 </li>
                 <form class="form-inline my-2 my-lg-0" action='/search'>
                     <div class="input-group">
                         <input name="q" type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="button-addon2" style="background-color: white; border: none">
                     </div>
                 </form>
             </ul>
         </div>
     </nav>

     <hr>

     <div class="container">
         {% block content %}

         {% endblock content %}
     </div>
     <!--JS LIBRARY-->
     <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
     <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

    </body>
</html>