{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <h3 class="title">
        REGISTER
    </h3>
    {% if form.errors %}
        <h5>There was an error with You form...</h5>
    {% endif %}
    <form action="{% url 'register_view' %}" method=POST>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-dark btn-block mb-4">Register</button>
    </form>
    <div class="container" style="width: 400px">
        <form>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="form-outline mb-1">
                <input type="email" id="form2Example1" class="form-control" />
                <label class="form-label" for="form2Example1">Username</label>
            </div>

            <div class="form-outline mb-1">
                <input type="email" id="form2Example1" class="form-control" />
                <label class="form-label" for="form2Example1">Email</label>
            </div>

            <div class="form-outline mb-1">
                <input type="password" id="form2Example2" class="form-control" />
                <label class="form-label" for="form2Example2">Password</label>
            </div>

            <div class="form-outline mb-1">
                <input type="password" id="form2Example2" class="form-control" />
                <label class="form-label" for="form2Example2">Repeat your password</label>
            </div>

            <button type="button" class="btn btn-dark btn-block mb-4">Register</button>
        </form>
        <div class="text-center">
            <p>Already a member? <a href="http://127.0.0.1:8000/login" style="color: inherit; text-decoration: underline">Login</a></p>
        </div>
    </div>
{% endblock content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
